In [1]:
import pandas as pd
import numpy as np

In [4]:
series = pd.Series(("Max", "Payne", 29, "USA", 182))
series

0      Max
1    Payne
2       29
3      USA
4      182
dtype: object

In [5]:
series = pd.Series([11,21,13,41,15,61])
series

0    11
1    21
2    13
3    41
4    15
5    61
dtype: int64

In [9]:
series = pd.Series(np.random.randn(5))
series

0   -0.480744
1    0.956010
2   -0.579369
3    0.615299
4   -0.129950
dtype: float64

In [10]:
series = pd.Series(list("clarusway"))
series

0    c
1    l
2    a
3    r
4    u
5    s
6    w
7    a
8    y
dtype: object

In [11]:
dict1 = {"D": 55, "E": 80, "C": 75, "A": 70, "B": 65}
pd.Series(dict1)

D    55
E    80
C    75
A    70
B    65
dtype: int64

In [14]:
set1 = set((3,2,5,5,8,24,12,7,6,4,23,8,2))
set1

{2, 3, 4, 5, 6, 7, 8, 12, 23, 24}

In [17]:
pd.Series(list(set1))

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7    12
8    23
9    24
dtype: int64

In [18]:
data = ["paris", "london", "ankara"]
index = ["x", "y", "z"]  # label

pd.Series(data, index)

x     paris
y    london
z    ankara
dtype: object

In [19]:
pd.Series([70, 60, 90, 85, 99.5],
          ["D", "E", "C", "A", "B"])

D    70.0
E    60.0
C    90.0
A    85.0
B    99.5
dtype: float64

In [20]:
pd.Series([1,2,5,4], index = ['USA', 'Germany','Italy', 'Japan'])

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [2]:
mix_data = [7, "dog", False, np.arange]
pd.Series(mix_data)

0                             7
1                           dog
2                         False
3    <built-in function arange>
dtype: object

## Series Basics

In [95]:
people = pd.Series(data = [36, 44, 25, 27, 32, 40], index = ["John", "Ashley", "Matt", "Jason", "Robert", "David"])
people

John      36
Ashley    44
Matt      25
Jason     27
Robert    32
David     40
dtype: int64

In [144]:
np.dtype(people)

dtype('int64')

In [97]:
type(people)

pandas.core.series.Series

In [98]:
people.describe()

count     6.000000
mean     34.000000
std       7.402702
min      25.000000
25%      28.250000
50%      34.000000
75%      39.000000
max      44.000000
dtype: float64

In [99]:
people.shape

(6,)

In [100]:
people.size

6

In [101]:
len(people)

6

In [102]:
people.ndim

1

In [103]:
people.values

array([36, 44, 25, 27, 32, 40], dtype=int64)

In [104]:
people.values.max()
# people.max()

44

In [105]:
people.values.min()
# people.min()

25

In [106]:
people.values.sum()
# people.sum()

204

In [107]:
# people.values.mean()
people.mean()

34.0

In [108]:
[i for i in people.values]

[36, 44, 25, 27, 32, 40]

In [110]:
people.index

Index(['John', 'Ashley', 'Matt', 'Jason', 'Robert', 'David'], dtype='object')

In [111]:
people.keys()

Index(['John', 'Ashley', 'Matt', 'Jason', 'Robert', 'David'], dtype='object')

In [112]:
people.keys

<bound method Series.keys of John      36
Ashley    44
Matt      25
Jason     27
Robert    32
David     40
dtype: int64>

In [113]:
people.items

<bound method Series.items of John      36
Ashley    44
Matt      25
Jason     27
Robert    32
David     40
dtype: int64>

In [114]:
people.items()

In [115]:
list(people.items())

[('John', 36),
 ('Ashley', 44),
 ('Matt', 25),
 ('Jason', 27),
 ('Robert', 32),
 ('David', 40)]

In [116]:
for key, value in people.items():
    print("key: ", key, "\t value: ", value)

key:  John 	 value:  36
key:  Ashley 	 value:  44
key:  Matt 	 value:  25
key:  Jason 	 value:  27
key:  Robert 	 value:  32
key:  David 	 value:  40

In [117]:
people.head()

John      36
Ashley    44
Matt      25
Jason     27
Robert    32
dtype: int64

In [118]:
people.tail(3)

Jason     27
Robert    32
David     40
dtype: int64

In [119]:
people

John      36
Ashley    44
Matt      25
Jason     27
Robert    32
David     40
dtype: int64

In [120]:
people.sort_index()

Ashley    44
David     40
Jason     27
John      36
Matt      25
Robert    32
dtype: int64

In [121]:
people.sort_values()

Matt      25
Jason     27
Robert    32
John      36
David     40
Ashley    44
dtype: int64

In [122]:
people["Matt"]

25

In [123]:
people.Jason

27

In [124]:
people[["Ashley", "David"]]  # use square brackets for multi index

Ashley    44
David     40
dtype: int64

In [125]:
people[[1,3]]

Ashley    44
Jason     27
dtype: int64

In [126]:
people[0:4]

John      36
Ashley    44
Matt      25
Jason     27
dtype: int64

In [127]:
people["John":"Jason"]  # don't use square brackets twice when slicing

John      36
Ashley    44
Matt      25
Jason     27
dtype: int64

In [128]:
people.values[3]
# (people.values)[3]

27

In [129]:
people.values[0:3]

array([36, 44, 25], dtype=int64)

In [130]:
people.is_unique

True

In [131]:
"John" in people  # only searches in "keys"

True

In [132]:
36 in people

False

In [133]:
36 in people.values

True

In [134]:
people.isin(["John"])  # only searches in "values"

# only list-like objects are allowed to be passed to isin()

John      False
Ashley    False
Matt      False
Jason     False
Robert    False
David     False
dtype: bool

In [135]:
people[people.isin([44, 27])]

Ashley    44
Jason     27
dtype: int64

In [136]:
# people["Jason"] = 50
people.Jason = 50
people

John      36
Ashley    44
Matt      25
Jason     50
Robert    32
David     40
dtype: int64

In [137]:
people >= 36

John       True
Ashley     True
Matt      False
Jason      True
Robert    False
David      True
dtype: bool

In [138]:
people[people >= 36]

John      36
Ashley    44
Jason     50
David     40
dtype: int64

In [139]:
people[people >= 36] = 20
people

John      20
Ashley    20
Matt      25
Jason     20
Robert    32
David     20
dtype: int64

In [140]:
s1 = pd.Series([5, 5, 5, 5])
s2 = pd.Series([25, 25, 25, 25])

s1 + s2

0    30
1    30
2    30
3    30
dtype: int64

In [141]:
s1 * s2

0    125
1    125
2    125
3    125
dtype: int64