In [1]:
import pandas as pd
import numpy as np

In [12]:
countries = {
    'country': ['Turkey', 'Cameroon', 'Albania', 'Brazil', 'Poland', 'Canada', 'Japan', 'Fiji'], 
    'capital': ['Ankara', 'Yaounde', 'Tirana', 'Brasilia', 'Warsaw', 'Ottawa', 'Tokyo', 'Suva'], 
    'continent': ['Europe/Asia', 'Africa', 'Europe', 'South America', 'Europe', 'North America', 'Asia', 'Australia/Oceania'],
    'population': [84339067, 26545863, 2877797, 212559417, 37846611, 37742154, 126476461, 896444],
    'land area': [769630, 472710, 27400, 8358140, 306230, 9093510, 364555, 18270],
    'density': [109, 56, 105, 25, 124, 4, 346, 49],
    'ocean_coast': ['False', 'True', 'False', 'True', 'False', 'True', 'True', 'True']
}

In [13]:
df = pd.DataFrame(countries)
df

,country,capital,continent,population,land area,density,ocean_coast
0,Turkey,Ankara,Europe/Asia,84339067,769630,109,False
1,Cameroon,Yaounde,Africa,26545863,472710,56,True
2,Albania,Tirana,Europe,2877797,27400,105,False
3,Brazil,Brasilia,South America,212559417,8358140,25,True
4,Poland,Warsaw,Europe,37846611,306230,124,False
5,Canada,Ottawa,North America,37742154,9093510,4,True
6,Japan,Tokyo,Asia,126476461,364555,346,True
7,Fiji,Suva,Oceania/Australia,896444,18270,49,True

In [14]:
df.apply(len) # rows are default value

country        8
capital        8
continent      8
population     8
land area      8
density        8
ocean_coast    8
dtype: int64

In [15]:
df.apply(len, axis="columns")

0    7
1    7
2    7
3    7
4    7
5    7
6    7
7    7
dtype: int64

In [16]:
df.country.apply(len)

0    6
1    8
2    7
3    6
4    6
5    6
6    5
7    4
Name: country, dtype: int64

In [17]:
df.iloc[0:4].apply(len)

country        4
capital        4
continent      4
population     4
land area      4
density        4
ocean_coast    4
dtype: int64

In [18]:
len(df['continent'])

8

In [19]:
df.apply(pd.Series.min)

country        Albania
capital         Ankara
continent       Africa
population      896444
land area        18270
density              4
ocean_coast      False
dtype: object

In [20]:
df.apply(lambda x: x.min())

country        Albania
capital         Ankara
continent       Africa
population      896444
land area        18270
density              4
ocean_coast      False
dtype: object

In [47]:
df.applymap(lambda x: x.min())
# ERROR: Because applymap returns for every cell in df and 'str' object has no attribute 'min'

In [21]:
df.loc[:, "country":"continent"].applymap(len)  # we get error for int values

   country  capital  continent
0        6        6         11
1        8        7          6
2        7        6          6
3        6        8         13
4        6        6          6
5        6        6         13
6        5        5          4
7        4        4         17

In [22]:
df.loc[:, "country":"continent"].apply(len)

country      8
capital      8
continent    8
dtype: int64

In [23]:
df.loc[:, "country":"continent"].apply(max, axis=0)

country             Turkey
capital            Yaounde
continent    South America
dtype: object

In [24]:
df.loc[:, "country":"continent"].apply(max, axis=1) # in apply, can't specify functions as a string

0           Turkey
1          Yaounde
2           Tirana
3    South America
4           Warsaw
5           Ottawa
6            Tokyo
7             Suva
dtype: object

In [25]:
df.loc[:, "country":"continent"].apply(np.argmax, axis=1)

0    0
1    1
2    1
3    2
4    1
5    1
6    1
7    1
dtype: int64

In [26]:
df.loc[:, "population":"density"].applymap(float)  # applymap changes every element of df

    population  land area  density
0   84339067.0   769630.0    109.0
1   26545863.0   472710.0     56.0
2    2877797.0    27400.0    105.0
3  212559417.0  8358140.0     25.0
4   37846611.0   306230.0    124.0
5   37742154.0  9093510.0      4.0
6  126476461.0   364555.0    346.0
7     896444.0    18270.0     49.0

In [27]:
df[["population", "density"]].transform(lambda x: (x-x.mean())/x.std())

   population   density
0    0.250569  0.062930
1   -0.546037 -0.431188
2   -0.872271  0.025638
3    2.017923 -0.720201
4   -0.390271  0.202775
5   -0.391710 -0.915984
6    0.831379  2.272479
7   -0.899582 -0.496449

In [28]:
df[["population", "density"]].apply(lambda x: (x-x.mean())/x.std())

   population   density
0    0.250569  0.062930
1   -0.546037 -0.431188
2   -0.872271  0.025638
3    2.017923 -0.720201
4   -0.390271  0.202775
5   -0.391710 -0.915984
6    0.831379  2.272479
7   -0.899582 -0.496449

In [29]:
df["ocean_coast"].map({"True": "Yes", "False": "No"})

0     No
1    Yes
2     No
3    Yes
4     No
5    Yes
6    Yes
7    Yes
Name: ocean_coast, dtype: object