In [2]:
import pandas as pd
import seaborn as sns

In [2]:
countries = {
    'country': ['Turkey', 'Cameroon', 'Albania', 'Brazil', 'Poland', 'Canada', 'Japan', 'Fiji'], 
    'capital': ['[Ankara]', '[Yaounde]', '[Tirana]', '[Brasilia]', '[Warsaw]', '[Ottawa]', '[Tokyo]', '[Suva]'], 
    'continent': ['Europe/Asia', 'Africa', 'Europe', 'South America', 'Europe', 'North America', 'Asia', 'Australia/Oceania'],
    'population': [84339067, 26545863, 2877797, 212559417, 37846611, 37742154, 126476461, 896444],
    'land area': [769630, 472710, 27400, 8358140, 306230, 9093510, 364555, 18270],
    'density': [109, 56, 105, 25, 124, 4, 346, 49],
    'ocean_coast': ['False', 'True', 'False', 'True', 'False', 'True', 'True', 'True']
}

In [3]:
df = pd.DataFrame(countries)
df

,country,capital,continent,population,land area,density,ocean_coast
0,Turkey,[Ankara],Europe/Asia,84339067,769630,109,False
1,Cameroon,[Yaounde],Africa,26545863,472710,56,True
2,Albania,[Tirana],Europe,2877797,27400,105,False
3,Brazil,[Brasilia],South America,212559417,8358140,25,True
4,Poland,[Warsaw],Europe,37846611,306230,124,False
5,Canada,[Ottawa],North America,37742154,9093510,4,True
6,Japan,[Tokyo],Asia,126476461,364555,346,True
7,Fiji,[Suva],Australia/Oceania,896444,18270,49,True

In [7]:
df[df.country.str.isupper()]

Empty DataFrame
Columns: [country, capital, continent, population, land area, density, ocean_coast]
Index: []

In [28]:
df.country.str.upper()

0      TURKEY
1    CAMEROON
2     ALBANIA
3      BRAZIL
4      CANADA
5       JAPAN
6        FIJI
Name: country, dtype: object

In [8]:
df.density.astype('string').str.isdigit()

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
Name: density, dtype: boolean

In [11]:
df.density.astype('string').str.isnumeric()

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
Name: density, dtype: boolean

In [19]:
df.continent.str.len()

0    11
1     6
2     6
3    13
4     6
5    13
6     4
7    17
Name: continent, dtype: int64

In [4]:
df.continent.str.endswith('ope')

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7    False
Name: continent, dtype: bool

In [5]:
df.continent.str.startswith('A')

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7     True
Name: continent, dtype: bool

In [8]:
df[df.density.astype('string').str.startswith('4')]

,country,capital,continent,population,land area,density,ocean_coast
5,Canada,[Ottawa],North America,37742154,9093510,4,True
7,Fiji,[Suva],Australia/Oceania,896444,18270,49,True

In [ ]:
# Series.str.contains: Test if pattern or regex is contained within a string of a Series or Index.
# 'DataFrame' object has no attribute 'contains' or 'str'

In [20]:
df.continent.str.contains('America')
# case-sensitive, for 'america' all values will be False

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7    False
Name: continent, dtype: bool

In [5]:
df.continent.str[:3]

0    Eur
1    Afr
2    Eur
3    Sou
4    Eur
5    Nor
6    Asi
7    Aus
Name: continent, dtype: object

In [21]:
df.continent.str.contains('AMERICA', case=False)

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7    False
Name: continent, dtype: bool

In [26]:
df.continent.str.contains('Asia|Europe', case=False)

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
Name: continent, dtype: bool

In [27]:
df[df.population.astype('string').str.contains('15')]

  country   capital      continent  population  land area  density ocean_coast
5  Canada  [Ottawa]  North America    37742154    9093510        4        True

In [36]:
df.continent.str.contains('America').value_counts(dropna=False) # for NaN values

False    5
True     2
Name: continent, dtype: int64

In [39]:
df.continent.str.contains('America').sum()

2

In [40]:
df.continent.str.contains('America').mean()
# 2 / 7

0.2857142857142857

In [30]:
df[df.continent.str.contains('America')]

,country,capital,continent,population,land_area,density,ocean_coast
3,Brazil,[Brasilia],South America,212559417,8358140,25,Yes
4,Canada,[Ottawa],North America,37742154,9093510,4,Yes

In [43]:
df[df.continent.str.contains('America')][['population', 'density']]

   population  density
3   212559417       25
4    37742154        4

In [52]:
df.continent.str.contains('America').any()

True

In [53]:
df.continent.str.contains('America').all()

False

In [31]:
df.continent.str.find('Europe')

0    0
1   -1
2    0
3   -1
4    0
5   -1
6   -1
7   -1
Name: continent, dtype: int64

In [32]:
df.continent.str.findall('Europe')

0    [Europe]
1          []
2    [Europe]
3          []
4    [Europe]
5          []
6          []
7          []
Name: continent, dtype: object

In [8]:
df[df['country'].str.count('^[cC].$')>0]

Empty DataFrame
Columns: [country, capital, continent, population, land_area, density, ocean_coast]
Index: []

In [9]:
df[df['country'].str.count('^[cC].*')>0]

,country,capital,continent,population,land_area,density,ocean_coast
1,Cameroon,[Yaounde],Africa,26545863,472710,56,Yes
4,Canada,[Ottawa],North America,37742154,9093510,4,Yes

In [10]:
df[df['country'].str.count(r'^[cC].*')>0]

,country,capital,continent,population,land_area,density,ocean_coast
1,Cameroon,[Yaounde],Africa,26545863,472710,56,Yes
4,Canada,[Ottawa],North America,37742154,9093510,4,Yes

In [12]:
df[df.country.str.match(r'(^B.*)')==True]

,country,capital,continent,population,land_area,density,ocean_coast
3,Brazil,[Brasilia],South America,212559417,8358140,25,Yes

In [32]:
df.capital.str.replace("[", " ", regex=False).str.replace("]", " ", regex=False)

0       Ankara
1      Yaounde
2       Tirana
3     Brasilia
4       Ottawa
5        Tokyo
6         Suva
Name: capital, dtype: object

In [33]:
df.capital.str.replace("[\[\]]", "", regex=False)

0      [Ankara]
1     [Yaounde]
2      [Tirana]
3    [Brasilia]
4      [Ottawa]
5       [Tokyo]
6        [Suva]
Name: capital, dtype: object

In [34]:
df.capital.str.replace("[\[\]]", "", regex=True)

0      Ankara
1     Yaounde
2      Tirana
3    Brasilia
4      Ottawa
5       Tokyo
6        Suva
Name: capital, dtype: object

In [16]:
df2 = pd.read_csv("../Data/Final_Four 2020-2021.csv")
df2

,Player,Club,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Turnovers,Blocks
0,Adam Hanga,FC Barcelona,8,Forward,Hungary,31,200,41,652,190,90,69,32,48,11
1,Adrien Moerman,Anadolu Efes,18,Forward,France,32,202,41,841,263,189,45,24,39,6
2,Alex Abrines,FC Barcelona,21,Forward,Spain,27,198,39,730,237,72,26,22,13,8
3,Alexander Khomenko,CSKA Moscow,4,Guard,Russia,21,192,16,100,32,4,4,0,8,0
4,Andrea Cinciarini,AX Armani Exchange Milan,20,Guard,Italy,34,193,8,19,0,2,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Vladimir Micov,AX Armani Exchange Milan,5,Forward,Serbia,35,201,30,573,184,47,30,19,26,2
62,Victor Claver,FC Barcelona,30,Forward,Spain,32,208,15,190,34,28,4,6,6,2
63,Will Clyburn,CSKA Moscow,21,Forward,USA,30,201,31,815,434,117,48,24,49,6
64,Yigitcan Saybir,Anadolu Efes,3,Forward,Turkey,21,203,2,5,2,1,0,0,0,0
65,Zach Leday,AX Armani Exchange Milan,2,Center,USA,26,202,36,889,360,163,23,20,32,12

In [28]:
# most common names

df2['Player'].str.split(' ', expand=True)[0].value_counts().nlargest(3)

Kyle       2
Michael    2
Nikola     2
Name: 0, dtype: int64